name: CI Mini Evaluation

on:
  push:
  pull_request:

jobs:
  mini-eval:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run mini evaluation
        run: |
          python tests/mini_eval.py

      - name: Run evaluatin pipeline
        run: |
          python -m src.run

